---
layout: default
---

<section>

	{% for post in site.posts %}
		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="post-date code">
					{% assign m =  post.date | date: "%-m" %}

					<span>{{ post.date | date: "%d" }}</span>
					{% case m %}
				      {% when '1' %}Января
				      {% when '2' %}Февраля
				      {% when '3' %}Марта
				      {% when '4' %}Апреля
				      {% when '5' %}Мая
				      {% when '6' %}Июня
				      {% when '7' %}Июля
				      {% when '8' %}Августа
				      {% when '9' %}Сентября
				      {% when '10' %}Октября
				      {% when '11' %}Ноября
				      {% when '12' %}Декабря
    				{% endcase %}
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>

	{% endfor %}

</section>
